.T{
    text-decoration: none;
    background-image: linear-gradient(green,blue);
    color: white;
    font-size: 100px;
    transition: 0.2s;
}
.A{
    text-decoration: none;
    background-image: linear-gradient(black,green);
    color: white;
    font-size: 100px;
    transition: 0.2s;
}
.TT{
    font-size: 100px;
    text-decoration: none;
    transition: 0.2s;

}
.AA{
    font-size: 100px;
    text-decoration: none;
    transition: 0.2s;
}
a:hover{
    transition: 0.2s;
    font-size: 110px;
}